{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    {# WELCOME MESSAGE #}
    <strong>Olá, {{ user.name }}</strong>
    <p>Inicie um agendamento escolhendo um profissional abaixo:</p>

    {# PROVIDERS #}
    <ul class="profissionais">
      {% for provider in providers %}
        <li class="provider">
          <div>
            <img src="/files/{{ provider.avatar }}">
            <strong>{{ provider.name }}</strong>
          </div>
          <a href="/app/appointments/new/{{ provider.id }}">+</a>
        </li>
      {% endfor %}
    </ul>

    {# LOGOUT #}
    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
